.page-heading {
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid gray;
}
.risk-type-select {
    padding: 20px !important;
}
.risk-type-select-dom {
    margin-bottom: 20px !important;
}
.empty-content {
    padding: 20px !important;
}
.left-menu {
    list-style: none;
    padding-right: 20px !important;
}
.left-menu li {
    list-style-type: none;
    padding: 10px;
}
.left-menu li a {
    text-decoration: none;
    color: #000;
}
.left-menu li a:hover {
    text-decoration: underline;
    color: #000;
}
.right-side {
    min-height: 400px !important;
    border-left: 1px solid #adadad;
    padding: 20px !important;
}
.list-table {
    width: 100% !important;
}
.list-table tr td, .list-table tr th {
    width: 200px !important;
    padding: 10px !important;
}
.list-table tr th {
    border-bottom: 1px solid #2e6da4;
    text-align: left !important;
    font-weight: bold !important;
}
#id_risk_type_form {
    max-width: 400px !important;
    padding: 0 20px 20px 20px !important;
}
.selected {
    background-color: #42b983;
}
.selected a{
    font-weight: bold !important;
    color: white !important;
}
.form-title {
    padding-left: 20px !important;
}