<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Insurance Management</title>
</head>
<body>
    <div id="id_app">
        <el-container>
          <el-header>
              <div :class="pageHeading">
                  {{ page_heading }}
              </div>
          </el-header>
          <el-main>
              <el-row>
                  <el-col :span="6">
                      <el-aside>
                          <ul class="left-menu">
                              <li v-bind:class="{selected: content_area == 'list'}">
                                  <a v-on:click="handle_risk_type_click('list')" href="#">All Risks</a>
                              </li>
                              <li v-bind:class="{selected: content_area == 'create'}">
                                  <a v-on:click="handle_risk_type_click('create')" href="#">Create Risk</a>
                              </li>
                          </ul>
                      </el-aside>
                  </el-col>
                  <el-col :span="18" class="right-side">
                      <el-row>
                          <el-col :span="12" class="risk-type-select">
                              <el-select class="risk-type-select-dom" v-model="selected_risk_type" v-on:change="handle_risk_type_select" placeholder="Select">
                                <el-option
                                  v-for="item in risk_types"
                                  :key="item.id"
                                  :label="item.name"
                                  :value="item.id">
                                </el-option>
                              </el-select>
                              <hr/>
                          </el-col>
                          <el-col :span="12">
                              <el-input @keyup.enter.native="handle_search_by_keyword" placeholder="Type keyword and then enter" v-model="search_keyword" name="search_by_keyword" v-if="content_area == 'list'"></el-input>
                          </el-col>
                      </el-row>
                      <el-row v-if="content_area == 'create' && selected_risk_type != ''">
                        <el-col :span="24">
                            <h3 class="form-title">{{ form_title }}</h3>
                             <el-form ref="form" :model="form_data" name="risk_type" id="id_risk_type_form" method="POST" enctype="multipart/form-data" action="{{ post_url }}" v-on:submit.prevent="submit_risk_form()">
                                <el-form-item :label="form_element.label" v-for="(form_element, index) in risk_fields" :required="form_element.required">

                                    <el-input :placeholder="form_element.label" v-model="form_element.model" :name="form_element.name" v-if="form_element.widget == 'input'"></el-input>

                                    <el-select :placeholder="form_element.label" v-model="form_element.model" :name="form_element.name" v-if="form_element.widget == 'select'">
                                      <el-option placeholder="option_item" v-bind:value="option_item" v-for="option_item in form_element.options"></el-option>
                                    </el-select>

                                    <el-checkbox :placeholder="form_element.label" v-model="form_element.model" :name="form_element.name" v-if="form_element.widget == 'checkbox'"></el-checkbox>

                                    <el-input type="textarea" :placeholder="form_element.label" v-model="form_element.model" :name="form_element.name" v-if="form_element.widget == 'textarea'"></el-input>

                                    <el-input type="number" :placeholder="form_element.label" v-model="form_element.model" :name="form_element.name" v-if="form_element.widget == 'input_number'"></el-input>

                                    <el-date-picker type="date" style="width: 100%;" v-model="form_element.model" :placeholder="form_element.label" :name="form_element.name" v-if="form_element.widget == 'date'"></el-date-picker>

                                    <el-date-picker type="datetime" style="width: 100%;" v-model="form_element.model" :placeholder="form_element.label" :name="form_element.name" v-if="form_element.widget == 'datetime'"></el-date-picker>

                                </el-form-item>
                                <el-button type="primary" v-if="selected_risk_type != ''" v-on:click.prevent="submit_risk_form()">Submit</el-button>
                            </el-form>
                        </el-col>
                      </el-row>
                      <el-row v-else-if="content_area == 'list' && selected_risk_type != ''">
                          <el-col :span="24">
                              <table class="list-table">
                                  <tr>
                                      <th v-for="header in risk_item_headers">
                                          {{ header }}
                                      </th>
                                  </tr>
                                  <tr v-for="item in risk_items">
                                      <td v-for="col in item">
                                          {{ col }}
                                      </td>
                                  </tr>
                              </table>
                          </el-col>
                      </el-row>
                      <el-row v-else>
                        <el-col :span="24">
                            <p class="empty-content">
                                Please select Risk type first
                            </p>
                        </el-col>
                      </el-row>
                  </el-col>
              </el-row>
          </el-main>
          <el-footer>
                <hr/>
                <div>@ Copyright 2017</div>
          </el-footer>
        </el-container>
        <el-dialog
          title=""
          :visible.sync="confirm_dialog_visible"
          width="30%"
          :before-close="handle_confirm_dialog_close">
          <span>{{ confirm_dialog_message }}</span>
          <span slot="footer" class="dialog-footer">
            <el-button @click="confirm_dialog_visible = false">Cancel</el-button>
            <el-button type="primary" @click="confirm_dialog_visible = false">Ok</el-button>
          </span>
        </el-dialog>
    </div>
</body>
<template id="id_form_input_template">
<el-form-item :label="form_element.label">
    <el-input :name="form_element.name"></el-input>
</el-form-item>
</template>
<template id="id_form_textarea_template">

</template>
<template id="id_form_template">

</template>
</html>
<style type="text/css">
    @import url("static/css/vendor/index.css");
</style>
<link rel="stylesheet" href="static/css/app.css"/>
<script src="static/js/vendor/vue.js"></script>
<script src="static/js/vendor/axios.min.js"></script>
<script src="static/js/vendor/index.js"></script>
<script src="static/js/app.js"></script>
